
	.tooltip {
      position: relative;
      cursor: pointer;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.4); /* dezente Unterstreichung */
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 220px;
      background-color: #333;
      color: #fff;
      text-align: left;
      border-radius: 5px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext,
    .tooltip:focus-within .tooltiptext {
      visibility: visible;
      opacity: 1;
    } 
	
